.ButtonBar {
    left: 5%;
    right: 5%;
    top: 5%;
    bottom: 5%;
    width: 5%;
    border: 3px solid #46B5D3;
    box-sizing: border-box;
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}